<link rel="stylesheet" href="/css/user_profile.css" />

<div class="card">
  <img
    src="https://avatars.githubusercontent.com/u/53686943?s=400&u=6156ba99218447516fb309e4984ae48c29b2fcc7&v=4"
    alt="img"
  />
  <div class="content">
    <h1><%= user.name %></h1>
    <p class="title"><%= user.email %></p>
    <p>Christ University</p>
    <strong>Password:- </strong>
    <p><%= user.password %></p>
    <div style="margin: 24px 0">
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>
