<div class="signin-main">
  <form action="/users/create-session" method="POST">
    <label for="chk" aria-hidden="true">Sign In</label>
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button>Sign In</button>
  </form>
  <h4><a href="/users/auth/google">Google Sign In/Sign Up</a></h4>
</div>
