header {
  background-color: #272727;
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #3b287a;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:nth-child(4),
a:nth-child(5) {
  float: right;
}

.navbar a:hover {
  background: #ddd;
}

.header-main {
  padding: 16px;
  margin-top: 30px;
}

a > p {
  color: #fff;
}
