header {
  background-color: #272727;
  width: 100%;
}
.custom-navbar {
  overflow: hidden;
  background-color: #3b287a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.custom-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.custom-navbar a:nth-child(2),
a:nth-child(3) {
  float: right;
}

.custom-navbar a:hover {
  background: #ddd;
}

.header-main {
  padding: 16px;
  margin-top: 30px;
}
